.pagination-buttons-container {


  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
  margin: 10px;
  width: fit-content;
 
  scale: 0.8;

  .go-to-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;;

    p {
      span {
        border: 1px solid $accent-color-1-dark;
        margin: 0 10px 0 0;
      }
    }

    input {
      padding: 5px;
      width: 2rem;
      background-color: $theme-color;
      border: 1px solid $accent-color-1-light;
      border-radius: 10px;
      color: aliceblue;

      &:focus {
        border-color: $accent-color-1-dark;


      }

      text-align: center;

      &:focus {
        outline: none;
        border-color: $accent-color-1-dark;
      }
    }
  }

  .select-page-rows {
    padding: 5px 10px;
    background-color: $theme-color;
    border: 1px solid $accent-color-1-light;
    border-radius: 10px;
    color: aliceblue;

    &:focus {
      border-color: $accent-color-1-dark;
      outline: none;

    }


  }

  .pagination-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    background-color: $theme-color;
    border: 1px solid $accent-color-1-light;
    border-radius: 10px;
    color: $accent-color-1-light;

    &:hover {
      cursor: pointer;
      border-color: $accent-color-1-dark;
      color: $accent-color-1-dark;
    }
  }

  .disabled {
    border: 2px solid $theme-color;
    cursor: not-allowed !important;
    color: $theme-color-dark !important;

    &:hover {
      border: 2px solid $theme-color;
      cursor: not-allowed;
      color: $theme-color-dark !important;
    }

  }


}