.table-search-bar {
  display: flex;
  height: 2rem;
  align-items: center;
  position: relative;

  .icon {
    position: absolute;
    left: 1rem;
    width: 1rem;
    height: 1rem;
  }

  .input {
    height: 100%;
    line-height: 28px;
    padding-right: 1rem;
    padding-left: 2.5rem;
    width: 100%;
    outline: none;
    transition: .3s ease;
    border: 5px solid $accent-color-1-light;
    border-radius: 10px;

    &:focus {
      border-color: $accent-color-1-dark;
    }

    caret-color: black;
  }


}