.form-component-container {
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 10px 0;
  position: relative;
  transition: all 0.2s ease-out;
  border: 1px solid lightgray;


  &:hover {
    border: 1px solid $accent-color-1-dark;
  }

  .required-question {
    color: red;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 0.7rem;


  }


}

.highlight {
  box-shadow: 0 0 5px 2px $accent-color-1-dark;
}

.drag-component {
  //rotate 90 degrees
  transform: rotate(90deg);
  cursor: move;
  color: rgb(156, 156, 156);
  font-size: smaller;
  scale: 0.8;
  margin: -10px auto;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;

  &:hover {
    color: black;
  }
}

@import "./section_header";
@import "./short_text";
@import "./long_text";
@import "./time_input";
@import "./date_input";
@import "./checkbox_input";
@import "./dropdown_input";
@import "./multiple_choice";
@import "./more_options_container";
