.form-input-container {
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid lightgray;
  margin: 10px 0;
}

@import "./section_header";
@import "./short_text";
@import "./long_text";
@import "./time_input";
@import "./date_input";
@import "./checkbox_input";
@import "./more_options_container";
