.short-text-input-container {
  .form {
    --width-of-input: 100%;
    --border-height: 1px;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: #5891ff;
    --input-hovered-color: #4985e01f;
    position: relative;
    width: var(--width-of-input);
    margin: 0.5rem 0;
  }
  /* styling of Input */
  .input {
    color: #000000;
    font-size: 1rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    resize: none;
  }
  /* styling of animated border */
  .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
  }
  /* Hover on Input */
  .input:hover {
    background: var(--input-hovered-color);
  }

  .input:focus {
    outline: none;
  }
  /* here is code of animated border */
  .input:focus ~ .input-border {
    width: 100%;
  }

  .question {
    font-size: 1rem;
    border-bottom: 1px solid lightgray;
  }

  .answer {
    .input {
      font-size: 0.9rem;
    }
    border-bottom: 1px dotted lightgray;
  }
}
