.add-input-button {
  display: flex;
  width: 1rem;
  height: 1rem;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
  border-radius: 5px;
  padding: 0.5rem;
  position: absolute;
  color: black;
  bottom: 3rem;
  right: 2rem;
  background-color: white;
  box-shadow: 0 0 10px $theme-color-2;

  p {
    font-size: 0.6rem;
    margin: 0 5px;
  }

  &:hover {
    cursor: pointer;
    background-color: $theme-color;
    color: white;
  }
}
