.add-input-button {
  display: flex;
  width: 1rem;
  height: 1rem;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
  border-radius: 10px;
  padding: 0.5rem;
  color: black;
  background-color: white;

  margin: 20px auto;
  border: 2px solid $theme-color;

  p {
    font-size: 0.6rem;
    margin: 0 5px;
  }

  &:hover {
    cursor: pointer;
    background-color: $accent-color-1-dark;
    border-color: $accent-color-1-dark;
    box-shadow: 0 0 5px 5px $accent-color-1-light;
    color: black;
  }
}
