.button-style {
  background-color: $button-background-color;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
  transition-duration: 0.25s;
  width: fit-content;
  margin: 5px;

  &:hover {
    background-color: $button-background-color-hover;
  }
}

@import "delete_section_button";
@import "delete_input_button";
@import "add_input_button";
@import "duplicate_component";
@import "isRequired_toggle";
@import "more_options_button";
@import "next_section";
@import "prev_section";
@import "create_form_button";
