.right-column-container {
  background-color: $theme-color-light;
  color: white;
  width: 30vw;
  height: 100%;
  border-top: 1px solid $theme-color-dark;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .status {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    .divider {
      border-right: 1px solid $theme-color-light;
      height: 20px;
      margin: 0 10px;
    }

    .switch {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 5px;

      font-size: 14px;
      font-weight: bold;
      width: fit-content;
      text-align: center;


      .active {
        color: white;

        width: 3rem;
      }

      .inactive {
        color: $theme-color-light;
        width: 3rem;
      }


      @import "../../buttons/is_active";

    }
  }

  @import "add_inputs_container";


}
