.form-section-header {
  padding: 0 20px;
  font-size: 1.2rem;
  border-radius: 10px;
  font-weight: bold;


  h4 {
    font-size: 0.7rem;
  }
}

.form-section-container {
  padding: 0;

  &.white {
    background-color: $form-theme-white-accent;

  }

  &.pink {
    background-color: $form-theme-pink-accent;

  }

  &.blue {
    background-color: $form-theme-blue-accent;

  }
}

.form-section-footer {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;

  @import "../../buttons/next_section";
  @import "../../buttons/prev_section";


}

