.prev-section-button {
  left: 0;
  position: absolute;

  button {
    --color: #0077ff;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;

    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;

    &.white {
      border-color: $form-theme-white-dark;
      color: $form-theme-white-dark;
    }

    &.pink {
      border-color: $form-theme-pink-dark;
      color: $form-theme-pink-dark;
    }

    &.blue {
      border-color: $form-theme-blue-dark;
      color: $form-theme-blue-dark;
    }

  }

  button::before {
    position: absolute;
    content: "";
    background: $form-theme-white-dark;
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
  }

  button:hover {
    color: white;
  }

  button:before {
    top: 100%;
    left: 100%;
    -webkit-transition: .3s all;
    transition: .3s all;
  }

  button:hover::before {
    top: -30px;
    left: -30px;
  }
}