.home-page-navbar {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
  $font-family: 'Roboto', sans-serif;


  .container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $theme-color;
    padding: 10px;
    height: 3rem;
    box-sizing: border-box;

    .navbar-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-family: 'Belanosima', sans-serif;
      font-weight: 600;
      font-size: 1.2rem;
      width: 20%;

      a {
        font-weight: 500;
        color: $accent-color-1-light;
        display: block;
        text-decoration: none;

        span {
          font-weight: 600;
          color: $accent-color-1-dark;

        }
      }


      .navbar-logo {
        color: $accent-color-1-dark;
        margin: 0 10px -3px 10px;

      }


    }

    .search {
      display: flex;
      line-height: 28px;
      align-items: center;
      position: relative;
      max-width: 250px;
      height: 2rem;

      .input {
        height: 100%;
        line-height: 28px;
        padding-right: 1rem;
        padding-left: 2.5rem;
        width: 100%;
        outline: none;
        background-color: $theme-color;
        color: #fff;
        transition: .3s ease;
        border: 2px solid;
        border-image: conic-gradient($accent-color-1-dark, $accent-color-1-light, $accent-color-1-dark) 1;
        border-radius: 10px;
      }

      .input::placeholder {
        color: $theme-color-2;
      }

      .input:focus::placeholder {
        color: #999;
      }

      .icon {
        position: absolute;
        left: 1rem;
        fill: #fff;
        width: 1rem;
        height: 1rem;

      }


    }


  }


}