.home-page-container {
  background-color: $theme-color-light;
  min-height: 100vh;
  color: white;
  padding: 1rem;
  box-sizing: border-box;
  position: relative;

  h3 {
    margin-top: 0.5rem;
  }

  .form-card-container {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    padding: 1rem;
    box-sizing: border-box;
    align-items: center;


    .form-card {
      color: white;
      border: 1px solid $theme-color-2;
      width: 10rem;
      height: 10rem;
      border-radius: 10px;
      position: relative;
      padding: 10px 0;
      box-sizing: border-box;
      text-align: center;

      .form-options {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        position: absolute;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;


        button {
          background-color: transparent;
          border: none;
          color: $theme-color-2;
          scale: 0.8;

          &:hover {
            cursor: pointer;
            color: white;
          }

        }


      }

      .name {
        font-size: 1.2rem;
        margin: 5px;

      }

      .number-of-res {
        font-size: 0.7rem;
      }


    }
  }


}

@import "profile";

@import "home-page-navbar";

