.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: fit-content;


  &:hover {
    cursor: pointer;
    border-color: $accent-color-1-dark;

  }


  .icon {
    width: min-content;
    scale: 0.7;
    color: $accent-color-1-dark;
  }

  .username {
    font-weight: bold;
  }


}