@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}


$theme-color: #2C2D32;

@import "./create_forms/navbar";
@import "./create_forms/left_column";
@import "./create_forms/right_column";
@import "./create_forms/middle_column";
@import "./create_forms/columns-container";
@import "button";
@import "signin";

.page-container {
  min-height: 100vh;
}

