@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.navbar-container {
  background-color: #2C2D32;
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: max-content;
  align-content: center;
  z-index: 100;
}
.navbar-container .form-name-input {
  background-color: #2C2D32;
  color: white;
  padding: 5px;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 10px;
  min-width: 20rem;
  border: none;
}
.navbar-container h2 {
  font-weight: bold;
}
.navbar-container .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark, transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-container .modal-overlay .modal-content {
  background-color: white;
  padding: 30px 20px 5px 20px;
  border-radius: 8px;
  color: black;
  position: relative;
  width: 50vw;
  /* styling of Input */
  /* styling of animated border */
  /* Hover on Input */
  /* here is code of animated border */
}
.navbar-container .modal-overlay .modal-content .close-modal-button {
  width: fit-content;
  position: absolute;
  top: 0;
  right: 0;
  font-size: small;
  margin: 10px;
  color: gray;
}
.navbar-container .modal-overlay .modal-content .close-modal-button:hover {
  cursor: pointer;
  color: black;
}
.navbar-container .modal-overlay .modal-content label {
  font-weight: bold;
  margin: 5px;
}
.navbar-container .modal-overlay .modal-content .form, .navbar-container .modal-overlay .modal-content .choices-container .choice-label, .choices-container .navbar-container .modal-overlay .modal-content .choice-label, .navbar-container .modal-overlay .modal-content .options-container .option-label, .options-container .navbar-container .modal-overlay .modal-content .option-label, .navbar-container .modal-overlay .modal-content .dropdown-select, .navbar-container .modal-overlay .modal-content .checkboxes-container .checkbox-label, .checkboxes-container .navbar-container .modal-overlay .modal-content .checkbox-label {
  --width-of-input: 100%;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
  margin: 0.5rem 0;
}
.navbar-container .modal-overlay .modal-content .input {
  color: #000000;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  resize: none;
}
.navbar-container .modal-overlay .modal-content .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.navbar-container .modal-overlay .modal-content .input:hover {
  background: var(--input-hovered-color);
}
.navbar-container .modal-overlay .modal-content .input:focus {
  outline: none;
}
.navbar-container .modal-overlay .modal-content .input:focus ~ .input-border {
  width: 100%;
}
.navbar-container .modal-overlay .modal-content .question {
  font-size: 1rem;
  border-bottom: 1px solid lightgray;
}
.navbar-container .modal-overlay .modal {
  position: relative;
  z-index: 1;
}
.navbar-container .modal-overlay .publish-button {
  margin: 1rem;
  width: fit-content;
}
.navbar-container .modal-overlay .update-button {
  width: 5rem;
}
.navbar-container .modal-overlay .cancel-button {
  margin: 1rem;
  width: fit-content;
  background-color: white;
  border: 2px solid red;
  color: red;
  padding: 5px;
  border-radius: 10px;
}
.navbar-container .modal-overlay .cancel-button:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}

.form-page-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #2C2D32;
}
.form-page-container .form-container {
  border-radius: 10px;
  padding: 1rem;
  max-width: 600px;
  width: 100%;
  background-color: #2C2D32;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.form-page-container .form-container .form-header {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.form-page-container .form-container .form-header .form-name {
  font-size: 2rem;
}
.form-page-container .form-container .form-header .form-description {
  font-size: 0.8rem;
}
.form-page-container .form-container .form-section-header {
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: white;
  font-weight: bold;
}
.form-page-container .form-container .form-section-header h4 {
  font-size: 0.7rem;
}
.form-page-container .form-container .form-section-container {
  padding: 0;
}
.form-page-container .form-container .form-section-footer {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}

.home-page-container {
  background-color: #2C2D32;
  min-height: 100vh;
  color: white;
  padding: 1rem;
  box-sizing: border-box;
  position: relative;
}
.home-page-container h3 {
  margin-top: 0.5rem;
}
.home-page-container .form-card-container {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  padding: 1rem;
  box-sizing: border-box;
  align-items: center;
}
.home-page-container .form-card-container .form-card {
  color: white;
  border: 1px solid gray;
  width: 10rem;
  height: 10rem;
  border-radius: 10px;
  position: relative;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
}
.home-page-container .form-card-container .form-card .form-options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.home-page-container .form-card-container .form-card .form-options button {
  background-color: transparent;
  border: none;
  color: gray;
  scale: 0.8;
}
.home-page-container .form-card-container .form-card .form-options button:hover {
  cursor: pointer;
  color: white;
}
.home-page-container .form-card-container .form-card .name {
  font-size: 1.2rem;
  margin: 5px;
}
.home-page-container .form-card-container .form-card .number-of-res {
  font-size: 0.7rem;
}
.home-page-container .profile {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: gray;
  border-radius: 5px;
  color: #2C2D32;
  flex-direction: column;
  z-index: 100;
}
.home-page-container .profile .profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.home-page-container .profile:hover {
  cursor: pointer;
}
.home-page-container .profile .dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-page-container .profile .dropdown div {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}
.home-page-container .profile .dropdown div:hover {
  cursor: pointer;
  color: gray;
  background-color: #2C2D32;
  color: white;
}

.columns-container {
  display: flex;
  padding-top: 3rem;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.left-column-container {
  background-color: #2C2D32;
  color: white;
  width: 30vw;
  height: 100%;
  overflow: hidden;
  border-top: 1px solid gray;
  display: "flex";
  flex-wrap: "wrap";
  justify-content: "space-between";
  margin: "0.5rem 0";
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
.left-column-container h3 {
  font-size: 1rem;
  padding: 0 20px;
  margin: 10px 0;
}

.form-components-container {
  padding: 10px;
  overflow-x: auto;
  overflow-y: auto;
  height: 70%;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.form-components-container .selected {
  box-shadow: 0 0 5px white;
  border-radius: 10px;
}
.form-components-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  padding: 2px;
}
.form-components-container::-webkit-scrollbar-track {
  background: #2C2D32;
  border-radius: 0 10px 10px 0;
}
.form-components-container::-webkit-scrollbar-thumb {
  background: #2C2D32;
  border-radius: 10px;
  box-shadow: inset 0 0 10px 10px gray;
  border: solid 3px #2C2D32;
}
.form-components-container::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px 10px rgb(102, 102, 102);
}

.component-tree-item {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  margin-left: 15px;
  border-radius: 10px;
  align-items: center;
  border: 1px solid #2C2D32;
  transition: all 0.2s ease-out;
}
.component-tree-item:hover {
  cursor: pointer;
  border: 1px solid gray;
}
.component-tree-item h4 {
  font-size: 0.7rem;
  display: inline;
  margin: auto;
  height: max-content;
  font-weight: lighter;
}
.component-tree-item .delete-section-button {
  scale: 0.8;
}
.component-tree-item .component-tree-item-logo {
  display: flex;
  align-items: center;
}

.add-section-button {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  box-sizing: border-box;
  padding: 5px;
  transition: all 0.2s ease-out;
  border-radius: 10px;
}
.add-section-button p {
  font-size: 0.6rem;
  margin: 0 5px;
}
.add-section-button:hover {
  cursor: pointer;
  background-color: gray;
}

.component-tree-section-style {
  margin-bottom: 1.5rem;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #2C2D32;
  position: relative;
  border: 1px solid #474747;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.component-tree-section-style .drag-component {
  transform: rotate(90deg);
  cursor: move;
  color: rgb(156, 156, 156);
  font-size: smaller;
  scale: 0.6;
  margin: -10px auto;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
}
.component-tree-section-style .drag-component:hover {
  color: white;
}
.component-tree-section-style .component-tree-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.component-tree-section-style:hover {
  box-shadow: 0 0 10px gray;
}

.middle-column-container {
  background-color: rgb(217, 217, 217);
  color: black;
  width: 60vw;
  height: 90%;
  border-top: 1px solid gray;
  padding: 1rem 1rem 3rem 1rem;
  overflow-y: auto;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.middle-column-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  padding: 2px;
}
.middle-column-container::-webkit-scrollbar-track {
  background: white;
  border-radius: 0 10px 10px 0;
}
.middle-column-container::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
  box-shadow: inset 0 0 10px 10px gray;
  border: solid 3px white;
}
.middle-column-container::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px 10px rgb(102, 102, 102);
}

.add-input-container {
  position: fixed;
  bottom: 3vw;
  left: 15vw;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.add-input-container .inputs-container {
  position: absolute;
  z-index: 5;
  color: black;
  background-color: white;
  height: 50vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  bottom: 0;
  left: 2rem;
  box-shadow: 0 0 10px gray;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.add-input-container .inputs-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  padding: 2px;
}
.add-input-container .inputs-container::-webkit-scrollbar-track {
  background: white;
  border-radius: 0 10px 10px 0;
}
.add-input-container .inputs-container::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
  box-shadow: inset 0 0 10px 10px gray;
  border: solid 3px white;
}
.add-input-container .inputs-container::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px 10px rgb(102, 102, 102);
}
.add-input-container .inputs-container .input-name-and-logo-container {
  display: flex;
  gap: 5px;
  text-align: center;
  padding: 5px;
  height: max-content;
  border: 1px solid white;
  align-content: center;
  margin: 5px 0;
  border-radius: 10px;
  transition: all 0.2s ease-out;
}
.add-input-container .inputs-container .input-name-and-logo-container:hover {
  cursor: pointer;
  border-color: gray;
}
.add-input-container .inputs-container .input-name-and-logo-container h4 {
  font-size: 0.7rem;
  display: inline;
  margin: auto;
  height: max-content;
}
.add-input-container .inputs-container h3 {
  font-size: 0.6rem;
  margin: 5px;
  display: inline;
}
.add-input-container .inputs-container .header-and-close-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-input-container .hide {
  display: none;
}

.form-component-container {
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid lightgray;
  margin: 10px 0;
  position: relative;
}
.form-component-container .required-question {
  color: red;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 0.7rem;
}

.drag-component {
  transform: rotate(90deg);
  cursor: move;
  color: rgb(156, 156, 156);
  font-size: smaller;
  scale: 0.8;
  margin: -10px auto;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
}
.drag-component:hover {
  color: black;
}

.section-header {
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.section-name {
  position: relative;
  margin-top: 1rem;
}
.section-name .section-name-input {
  font-size: 1.5rem;
  padding: 5px;
  display: block;
  width: 100%;
  border: none;
  background: transparent;
}
.section-name .section-name-input:focus {
  outline: none;
}
.section-name label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.section-name .section-name-input:focus ~ label,
.section-name .section-name-input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}
.section-name .section-name-bar {
  position: relative;
  display: block;
  width: 200px;
}
.section-name .section-name-bar:before,
.section-name .section-name-bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  left: 5px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.section-name .section-name-bar:before {
  left: 50%;
}
.section-name .section-name-bar:after {
  right: 50%;
}
.section-name .section-name-input:focus ~ .section-name-bar:before,
.section-name .section-name-input:focus ~ .section-name-bar:after {
  width: 100%;
}
.section-name .section-name-highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.section-name .section-name-input:focus ~ .section-name-highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
.short-text-input-container {
  /* styling of Input */
}
.short-text-input-container .form, .short-text-input-container .choices-container .choice-label, .choices-container .short-text-input-container .choice-label, .short-text-input-container .options-container .option-label, .options-container .short-text-input-container .option-label, .short-text-input-container .dropdown-select, .short-text-input-container .checkboxes-container .checkbox-label, .checkboxes-container .short-text-input-container .checkbox-label {
  --width-of-input: 100%;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
  margin: 0.5rem 0;
  /* styling of animated border */
  /* Hover on Input */
  /* here is code of animated border */
}
.short-text-input-container .form .input, .short-text-input-container .choices-container .choice-label .input, .choices-container .short-text-input-container .choice-label .input, .short-text-input-container .options-container .option-label .input, .options-container .short-text-input-container .option-label .input, .short-text-input-container .dropdown-select .input, .short-text-input-container .checkboxes-container .checkbox-label .input, .checkboxes-container .short-text-input-container .checkbox-label .input {
  color: #000000;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  resize: none;
}
.short-text-input-container .form .input-border, .short-text-input-container .choices-container .choice-label .input-border, .choices-container .short-text-input-container .choice-label .input-border, .short-text-input-container .options-container .option-label .input-border, .options-container .short-text-input-container .option-label .input-border, .short-text-input-container .dropdown-select .input-border, .short-text-input-container .checkboxes-container .checkbox-label .input-border, .checkboxes-container .short-text-input-container .checkbox-label .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.short-text-input-container .form .input:hover, .short-text-input-container .choices-container .choice-label .input:hover, .choices-container .short-text-input-container .choice-label .input:hover, .short-text-input-container .options-container .option-label .input:hover, .options-container .short-text-input-container .option-label .input:hover, .short-text-input-container .dropdown-select .input:hover, .short-text-input-container .checkboxes-container .checkbox-label .input:hover, .checkboxes-container .short-text-input-container .checkbox-label .input:hover {
  background: var(--input-hovered-color);
}
.short-text-input-container .form .input:focus, .short-text-input-container .choices-container .choice-label .input:focus, .choices-container .short-text-input-container .choice-label .input:focus, .short-text-input-container .options-container .option-label .input:focus, .options-container .short-text-input-container .option-label .input:focus, .short-text-input-container .dropdown-select .input:focus, .short-text-input-container .checkboxes-container .checkbox-label .input:focus, .checkboxes-container .short-text-input-container .checkbox-label .input:focus {
  outline: none;
}
.short-text-input-container .form .input:focus ~ .input-border, .short-text-input-container .choices-container .choice-label .input:focus ~ .input-border, .choices-container .short-text-input-container .choice-label .input:focus ~ .input-border, .short-text-input-container .options-container .option-label .input:focus ~ .input-border, .options-container .short-text-input-container .option-label .input:focus ~ .input-border, .short-text-input-container .dropdown-select .input:focus ~ .input-border, .short-text-input-container .checkboxes-container .checkbox-label .input:focus ~ .input-border, .checkboxes-container .short-text-input-container .checkbox-label .input:focus ~ .input-border {
  width: 100%;
}
.short-text-input-container .question {
  font-size: 1rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}
.short-text-input-container .answer {
  border-bottom: 1px dotted lightgray;
}
.short-text-input-container .answer .input {
  font-size: 0.9rem;
}
.short-text-input-container .description .input {
  font-size: 0.8rem !important;
}

.long-text-input-container {
  /* styling of Input */
}
.long-text-input-container .form, .long-text-input-container .choices-container .choice-label, .choices-container .long-text-input-container .choice-label, .long-text-input-container .options-container .option-label, .options-container .long-text-input-container .option-label, .long-text-input-container .dropdown-select, .long-text-input-container .checkboxes-container .checkbox-label, .checkboxes-container .long-text-input-container .checkbox-label {
  --width-of-input: 100%;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
  margin: 0.5rem 0;
  /* styling of animated border */
  /* Hover on Input */
  /* here is code of animated border */
}
.long-text-input-container .form .input, .long-text-input-container .choices-container .choice-label .input, .choices-container .long-text-input-container .choice-label .input, .long-text-input-container .options-container .option-label .input, .options-container .long-text-input-container .option-label .input, .long-text-input-container .dropdown-select .input, .long-text-input-container .checkboxes-container .checkbox-label .input, .checkboxes-container .long-text-input-container .checkbox-label .input {
  color: #000000;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  resize: none;
}
.long-text-input-container .form .input-border, .long-text-input-container .choices-container .choice-label .input-border, .choices-container .long-text-input-container .choice-label .input-border, .long-text-input-container .options-container .option-label .input-border, .options-container .long-text-input-container .option-label .input-border, .long-text-input-container .dropdown-select .input-border, .long-text-input-container .checkboxes-container .checkbox-label .input-border, .checkboxes-container .long-text-input-container .checkbox-label .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.long-text-input-container .form .input:hover, .long-text-input-container .choices-container .choice-label .input:hover, .choices-container .long-text-input-container .choice-label .input:hover, .long-text-input-container .options-container .option-label .input:hover, .options-container .long-text-input-container .option-label .input:hover, .long-text-input-container .dropdown-select .input:hover, .long-text-input-container .checkboxes-container .checkbox-label .input:hover, .checkboxes-container .long-text-input-container .checkbox-label .input:hover {
  background: var(--input-hovered-color);
}
.long-text-input-container .form .input:focus, .long-text-input-container .choices-container .choice-label .input:focus, .choices-container .long-text-input-container .choice-label .input:focus, .long-text-input-container .options-container .option-label .input:focus, .options-container .long-text-input-container .option-label .input:focus, .long-text-input-container .dropdown-select .input:focus, .long-text-input-container .checkboxes-container .checkbox-label .input:focus, .checkboxes-container .long-text-input-container .checkbox-label .input:focus {
  outline: none;
}
.long-text-input-container .form .input:focus ~ .input-border, .long-text-input-container .choices-container .choice-label .input:focus ~ .input-border, .choices-container .long-text-input-container .choice-label .input:focus ~ .input-border, .long-text-input-container .options-container .option-label .input:focus ~ .input-border, .options-container .long-text-input-container .option-label .input:focus ~ .input-border, .long-text-input-container .dropdown-select .input:focus ~ .input-border, .long-text-input-container .checkboxes-container .checkbox-label .input:focus ~ .input-border, .checkboxes-container .long-text-input-container .checkbox-label .input:focus ~ .input-border {
  width: 100%;
}
.long-text-input-container .question {
  font-size: 1rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}
.long-text-input-container .answer {
  border-bottom: 1px dotted lightgray;
}
.long-text-input-container .answer .input {
  font-size: 0.9rem;
}

.time-input-container {
  /* styling of Input */
}
.time-input-container .form, .time-input-container .choices-container .choice-label, .choices-container .time-input-container .choice-label, .time-input-container .options-container .option-label, .options-container .time-input-container .option-label, .time-input-container .dropdown-select, .time-input-container .checkboxes-container .checkbox-label, .checkboxes-container .time-input-container .checkbox-label {
  --width-of-input: 100%;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
  margin: 0.5rem 0;
  /* styling of animated border */
  /* Hover on Input */
  /* here is code of animated border */
}
.time-input-container .form .input, .time-input-container .choices-container .choice-label .input, .choices-container .time-input-container .choice-label .input, .time-input-container .options-container .option-label .input, .options-container .time-input-container .option-label .input, .time-input-container .dropdown-select .input, .time-input-container .checkboxes-container .checkbox-label .input, .checkboxes-container .time-input-container .checkbox-label .input {
  color: #000000;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  resize: none;
}
.time-input-container .form .input-border, .time-input-container .choices-container .choice-label .input-border, .choices-container .time-input-container .choice-label .input-border, .time-input-container .options-container .option-label .input-border, .options-container .time-input-container .option-label .input-border, .time-input-container .dropdown-select .input-border, .time-input-container .checkboxes-container .checkbox-label .input-border, .checkboxes-container .time-input-container .checkbox-label .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.time-input-container .form .input:hover, .time-input-container .choices-container .choice-label .input:hover, .choices-container .time-input-container .choice-label .input:hover, .time-input-container .options-container .option-label .input:hover, .options-container .time-input-container .option-label .input:hover, .time-input-container .dropdown-select .input:hover, .time-input-container .checkboxes-container .checkbox-label .input:hover, .checkboxes-container .time-input-container .checkbox-label .input:hover {
  background: var(--input-hovered-color);
}
.time-input-container .form .input:focus, .time-input-container .choices-container .choice-label .input:focus, .choices-container .time-input-container .choice-label .input:focus, .time-input-container .options-container .option-label .input:focus, .options-container .time-input-container .option-label .input:focus, .time-input-container .dropdown-select .input:focus, .time-input-container .checkboxes-container .checkbox-label .input:focus, .checkboxes-container .time-input-container .checkbox-label .input:focus {
  outline: none;
}
.time-input-container .form .input:focus ~ .input-border, .time-input-container .choices-container .choice-label .input:focus ~ .input-border, .choices-container .time-input-container .choice-label .input:focus ~ .input-border, .time-input-container .options-container .option-label .input:focus ~ .input-border, .options-container .time-input-container .option-label .input:focus ~ .input-border, .time-input-container .dropdown-select .input:focus ~ .input-border, .time-input-container .checkboxes-container .checkbox-label .input:focus ~ .input-border, .checkboxes-container .time-input-container .checkbox-label .input:focus ~ .input-border {
  width: 100%;
}
.time-input-container .question {
  font-size: 1rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}
.time-input-container .answer {
  border-bottom: 1px dotted lightgray;
}
.time-input-container .answer .input {
  font-size: 0.9rem;
}

.date-input-container {
  /* styling of Input */
}
.date-input-container .form, .date-input-container .choices-container .choice-label, .choices-container .date-input-container .choice-label, .date-input-container .options-container .option-label, .options-container .date-input-container .option-label, .date-input-container .dropdown-select, .date-input-container .checkboxes-container .checkbox-label, .checkboxes-container .date-input-container .checkbox-label {
  --width-of-input: 100%;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
  margin: 0.5rem 0;
  /* styling of animated border */
  /* Hover on Input */
  /* here is code of animated border */
}
.date-input-container .form .input, .date-input-container .choices-container .choice-label .input, .choices-container .date-input-container .choice-label .input, .date-input-container .options-container .option-label .input, .options-container .date-input-container .option-label .input, .date-input-container .dropdown-select .input, .date-input-container .checkboxes-container .checkbox-label .input, .checkboxes-container .date-input-container .checkbox-label .input {
  color: #000000;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  resize: none;
}
.date-input-container .form .input-border, .date-input-container .choices-container .choice-label .input-border, .choices-container .date-input-container .choice-label .input-border, .date-input-container .options-container .option-label .input-border, .options-container .date-input-container .option-label .input-border, .date-input-container .dropdown-select .input-border, .date-input-container .checkboxes-container .checkbox-label .input-border, .checkboxes-container .date-input-container .checkbox-label .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.date-input-container .form .input:hover, .date-input-container .choices-container .choice-label .input:hover, .choices-container .date-input-container .choice-label .input:hover, .date-input-container .options-container .option-label .input:hover, .options-container .date-input-container .option-label .input:hover, .date-input-container .dropdown-select .input:hover, .date-input-container .checkboxes-container .checkbox-label .input:hover, .checkboxes-container .date-input-container .checkbox-label .input:hover {
  background: var(--input-hovered-color);
}
.date-input-container .form .input:focus, .date-input-container .choices-container .choice-label .input:focus, .choices-container .date-input-container .choice-label .input:focus, .date-input-container .options-container .option-label .input:focus, .options-container .date-input-container .option-label .input:focus, .date-input-container .dropdown-select .input:focus, .date-input-container .checkboxes-container .checkbox-label .input:focus, .checkboxes-container .date-input-container .checkbox-label .input:focus {
  outline: none;
}
.date-input-container .form .input:focus ~ .input-border, .date-input-container .choices-container .choice-label .input:focus ~ .input-border, .choices-container .date-input-container .choice-label .input:focus ~ .input-border, .date-input-container .options-container .option-label .input:focus ~ .input-border, .options-container .date-input-container .option-label .input:focus ~ .input-border, .date-input-container .dropdown-select .input:focus ~ .input-border, .date-input-container .checkboxes-container .checkbox-label .input:focus ~ .input-border, .checkboxes-container .date-input-container .checkbox-label .input:focus ~ .input-border {
  width: 100%;
}
.date-input-container .question {
  font-size: 1rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}
.date-input-container .answer {
  border-bottom: 1px dotted lightgray;
}
.date-input-container .answer .input {
  font-size: 0.9rem;
}

.checkbox-input-container {
  /* styling of Input */
}
.checkbox-input-container .form, .checkbox-input-container .choices-container .choice-label, .choices-container .checkbox-input-container .choice-label, .checkbox-input-container .options-container .option-label, .options-container .checkbox-input-container .option-label, .checkbox-input-container .dropdown-select, .checkbox-input-container .checkboxes-container .checkbox-label, .checkboxes-container .checkbox-input-container .checkbox-label {
  --width-of-input: 100%;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
  margin: 0.5rem 0;
  /* styling of animated border */
  /* Hover on Input */
  /* here is code of animated border */
}
.checkbox-input-container .form .input, .checkbox-input-container .choices-container .choice-label .input, .choices-container .checkbox-input-container .choice-label .input, .checkbox-input-container .options-container .option-label .input, .options-container .checkbox-input-container .option-label .input, .checkbox-input-container .dropdown-select .input, .checkbox-input-container .checkboxes-container .checkbox-label .input, .checkboxes-container .checkbox-input-container .checkbox-label .input {
  color: #000000;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  resize: none;
}
.checkbox-input-container .form .input-border, .checkbox-input-container .choices-container .choice-label .input-border, .choices-container .checkbox-input-container .choice-label .input-border, .checkbox-input-container .options-container .option-label .input-border, .options-container .checkbox-input-container .option-label .input-border, .checkbox-input-container .dropdown-select .input-border, .checkbox-input-container .checkboxes-container .checkbox-label .input-border, .checkboxes-container .checkbox-input-container .checkbox-label .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.checkbox-input-container .form .input:hover, .checkbox-input-container .choices-container .choice-label .input:hover, .choices-container .checkbox-input-container .choice-label .input:hover, .checkbox-input-container .options-container .option-label .input:hover, .options-container .checkbox-input-container .option-label .input:hover, .checkbox-input-container .dropdown-select .input:hover, .checkbox-input-container .checkboxes-container .checkbox-label .input:hover, .checkboxes-container .checkbox-input-container .checkbox-label .input:hover {
  background: var(--input-hovered-color);
}
.checkbox-input-container .form .input:focus, .checkbox-input-container .choices-container .choice-label .input:focus, .choices-container .checkbox-input-container .choice-label .input:focus, .checkbox-input-container .options-container .option-label .input:focus, .options-container .checkbox-input-container .option-label .input:focus, .checkbox-input-container .dropdown-select .input:focus, .checkbox-input-container .checkboxes-container .checkbox-label .input:focus, .checkboxes-container .checkbox-input-container .checkbox-label .input:focus {
  outline: none;
}
.checkbox-input-container .form .input:focus ~ .input-border, .checkbox-input-container .choices-container .choice-label .input:focus ~ .input-border, .choices-container .checkbox-input-container .choice-label .input:focus ~ .input-border, .checkbox-input-container .options-container .option-label .input:focus ~ .input-border, .options-container .checkbox-input-container .option-label .input:focus ~ .input-border, .checkbox-input-container .dropdown-select .input:focus ~ .input-border, .checkbox-input-container .checkboxes-container .checkbox-label .input:focus ~ .input-border, .checkboxes-container .checkbox-input-container .checkbox-label .input:focus ~ .input-border {
  width: 100%;
}
.checkbox-input-container .question {
  font-size: 1rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}
.checkbox-input-container .answer {
  border-bottom: 1px dotted lightgray;
}
.checkbox-input-container .answer .input {
  font-size: 0.9rem;
}

.checkboxes-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 0.5rem 0;
}
.checkboxes-container .checkbox-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  scale: 0.8;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
}
.checkboxes-container .checkbox-container .checkbox-icon {
  color: gray;
  font-size: smaller;
}
.checkboxes-container .checkbox-remove-button {
  color: gray;
  font-size: smaller;
  cursor: pointer;
}
.checkboxes-container .checkbox-remove-button:hover {
  color: black;
}
.checkboxes-container .drag-checkbox {
  cursor: grab;
  color: gray;
  font-size: smaller;
  scale: 0.8;
}
.checkboxes-container .drag-checkbox:hover {
  color: black;
}
.checkboxes-container .drag-checkbox:active {
  cursor: grabbing;
}
.checkboxes-container .add-checkbox-button {
  color: gray;
  font-size: smaller;
  padding: 10px;
  margin: 1rem;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0 0 5px lightgray;
}
.checkboxes-container .add-checkbox-button:hover {
  cursor: pointer;
  color: black;
  border-color: black;
}
.dropdown-input-container {
  /* styling of Input */
}
.dropdown-input-container .form, .dropdown-input-container .choices-container .choice-label, .choices-container .dropdown-input-container .choice-label, .dropdown-input-container .options-container .option-label, .options-container .dropdown-input-container .option-label, .dropdown-input-container .dropdown-select, .dropdown-input-container .checkboxes-container .checkbox-label, .checkboxes-container .dropdown-input-container .checkbox-label {
  --width-of-input: 100%;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
  margin: 0.5rem 0;
  /* styling of animated border */
  /* Hover on Input */
  /* here is code of animated border */
}
.dropdown-input-container .form .input, .dropdown-input-container .choices-container .choice-label .input, .choices-container .dropdown-input-container .choice-label .input, .dropdown-input-container .options-container .option-label .input, .options-container .dropdown-input-container .option-label .input, .dropdown-input-container .dropdown-select .input, .dropdown-input-container .checkboxes-container .checkbox-label .input, .checkboxes-container .dropdown-input-container .checkbox-label .input {
  color: #000000;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  resize: none;
}
.dropdown-input-container .form .input-border, .dropdown-input-container .choices-container .choice-label .input-border, .choices-container .dropdown-input-container .choice-label .input-border, .dropdown-input-container .options-container .option-label .input-border, .options-container .dropdown-input-container .option-label .input-border, .dropdown-input-container .dropdown-select .input-border, .dropdown-input-container .checkboxes-container .checkbox-label .input-border, .checkboxes-container .dropdown-input-container .checkbox-label .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.dropdown-input-container .form .input:hover, .dropdown-input-container .choices-container .choice-label .input:hover, .choices-container .dropdown-input-container .choice-label .input:hover, .dropdown-input-container .options-container .option-label .input:hover, .options-container .dropdown-input-container .option-label .input:hover, .dropdown-input-container .dropdown-select .input:hover, .dropdown-input-container .checkboxes-container .checkbox-label .input:hover, .checkboxes-container .dropdown-input-container .checkbox-label .input:hover {
  background: var(--input-hovered-color);
}
.dropdown-input-container .form .input:focus, .dropdown-input-container .choices-container .choice-label .input:focus, .choices-container .dropdown-input-container .choice-label .input:focus, .dropdown-input-container .options-container .option-label .input:focus, .options-container .dropdown-input-container .option-label .input:focus, .dropdown-input-container .dropdown-select .input:focus, .dropdown-input-container .checkboxes-container .checkbox-label .input:focus, .checkboxes-container .dropdown-input-container .checkbox-label .input:focus {
  outline: none;
}
.dropdown-input-container .form .input:focus ~ .input-border, .dropdown-input-container .choices-container .choice-label .input:focus ~ .input-border, .choices-container .dropdown-input-container .choice-label .input:focus ~ .input-border, .dropdown-input-container .options-container .option-label .input:focus ~ .input-border, .options-container .dropdown-input-container .option-label .input:focus ~ .input-border, .dropdown-input-container .dropdown-select .input:focus ~ .input-border, .dropdown-input-container .checkboxes-container .checkbox-label .input:focus ~ .input-border, .checkboxes-container .dropdown-input-container .checkbox-label .input:focus ~ .input-border {
  width: 100%;
}
.dropdown-input-container .question {
  font-size: 1rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}
.dropdown-input-container .answer {
  border-bottom: 1px dotted lightgray;
}
.dropdown-input-container .answer .input {
  font-size: 0.9rem;
}
.dropdown-select {
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0 0 5px lightgray;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.dropdown-select:hover {
  border-color: black;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 0.5rem 0;
}
.options-container .option-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  scale: 0.8;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
}
.options-container .option-remove-button {
  color: gray;
  font-size: smaller;
  cursor: pointer;
}
.options-container .option-remove-button:hover {
  color: black;
}
.options-container .drag-option {
  cursor: grab;
  color: gray;
  font-size: smaller;
  scale: 0.8;
}
.options-container .drag-option:hover {
  color: black;
}
.options-container .drag-option:active {
  cursor: grabbing;
}
.options-container .add-option-button {
  color: gray;
  font-size: smaller;
  padding: 10px;
  margin: 1rem;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0 0 5px lightgray;
}
.options-container .add-option-button:hover {
  cursor: pointer;
  color: black;
  border-color: black;
}
.options-container .option-number {
  display: inline;
  margin-left: 5px;
}

.multiple-choice-input-container {
  /* styling of Input */
}
.multiple-choice-input-container .form, .multiple-choice-input-container .choices-container .choice-label, .choices-container .multiple-choice-input-container .choice-label, .multiple-choice-input-container .checkboxes-container .checkbox-label, .checkboxes-container .multiple-choice-input-container .checkbox-label, .multiple-choice-input-container .dropdown-select, .multiple-choice-input-container .options-container .option-label, .options-container .multiple-choice-input-container .option-label {
  --width-of-input: 100%;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
  margin: 0.5rem 0;
  /* styling of animated border */
  /* Hover on Input */
  /* here is code of animated border */
}
.multiple-choice-input-container .form .input, .multiple-choice-input-container .choices-container .choice-label .input, .choices-container .multiple-choice-input-container .choice-label .input, .multiple-choice-input-container .checkboxes-container .checkbox-label .input, .checkboxes-container .multiple-choice-input-container .checkbox-label .input, .multiple-choice-input-container .dropdown-select .input, .multiple-choice-input-container .options-container .option-label .input, .options-container .multiple-choice-input-container .option-label .input {
  color: #000000;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  resize: none;
}
.multiple-choice-input-container .form .input-border, .multiple-choice-input-container .choices-container .choice-label .input-border, .choices-container .multiple-choice-input-container .choice-label .input-border, .multiple-choice-input-container .checkboxes-container .checkbox-label .input-border, .checkboxes-container .multiple-choice-input-container .checkbox-label .input-border, .multiple-choice-input-container .dropdown-select .input-border, .multiple-choice-input-container .options-container .option-label .input-border, .options-container .multiple-choice-input-container .option-label .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.multiple-choice-input-container .form .input:hover, .multiple-choice-input-container .choices-container .choice-label .input:hover, .choices-container .multiple-choice-input-container .choice-label .input:hover, .multiple-choice-input-container .checkboxes-container .checkbox-label .input:hover, .checkboxes-container .multiple-choice-input-container .checkbox-label .input:hover, .multiple-choice-input-container .dropdown-select .input:hover, .multiple-choice-input-container .options-container .option-label .input:hover, .options-container .multiple-choice-input-container .option-label .input:hover {
  background: var(--input-hovered-color);
}
.multiple-choice-input-container .form .input:focus, .multiple-choice-input-container .choices-container .choice-label .input:focus, .choices-container .multiple-choice-input-container .choice-label .input:focus, .multiple-choice-input-container .checkboxes-container .checkbox-label .input:focus, .checkboxes-container .multiple-choice-input-container .checkbox-label .input:focus, .multiple-choice-input-container .dropdown-select .input:focus, .multiple-choice-input-container .options-container .option-label .input:focus, .options-container .multiple-choice-input-container .option-label .input:focus {
  outline: none;
}
.multiple-choice-input-container .form .input:focus ~ .input-border, .multiple-choice-input-container .choices-container .choice-label .input:focus ~ .input-border, .choices-container .multiple-choice-input-container .choice-label .input:focus ~ .input-border, .multiple-choice-input-container .checkboxes-container .checkbox-label .input:focus ~ .input-border, .checkboxes-container .multiple-choice-input-container .checkbox-label .input:focus ~ .input-border, .multiple-choice-input-container .dropdown-select .input:focus ~ .input-border, .multiple-choice-input-container .options-container .option-label .input:focus ~ .input-border, .options-container .multiple-choice-input-container .option-label .input:focus ~ .input-border {
  width: 100%;
}
.multiple-choice-input-container .question {
  font-size: 1rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}
.multiple-choice-input-container .answer {
  border-bottom: 1px dotted lightgray;
}
.multiple-choice-input-container .answer .input {
  font-size: 0.9rem;
}

.choices-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 0.5rem 0;
}
.choices-container .choice-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  scale: 0.8;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
}
.choices-container .choice-container .choice-icon {
  color: gray;
  font-size: smaller;
}
.choices-container .choice-remove-button {
  color: gray;
  font-size: smaller;
  cursor: pointer;
}
.choices-container .choice-remove-button:hover {
  color: black;
}
.choices-container .drag-choice {
  cursor: grab;
  color: gray;
  font-size: smaller;
  scale: 0.8;
}
.choices-container .drag-choice:hover {
  color: black;
}
.choices-container .drag-choice:active {
  cursor: grabbing;
}
.choices-container .add-choice-button {
  color: gray;
  font-size: smaller;
  padding: 10px;
  margin: 1rem;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0 0 5px lightgray;
}
.choices-container .add-choice-button:hover {
  cursor: pointer;
  color: black;
  border-color: black;
}
.more-options-container {
  position: absolute;
  right: 0;
  bottom: 2rem;
  background-color: white;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
  width: max-content;
  font-size: 0.8rem;
  color: black;
}
.more-options-container .more-options-item {
  padding: 0.5rem;
}
.more-options-container .more-options-item:hover {
  color: black;
  background-color: lightgray;
}

.input-options-container {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.right-column-container {
  background-color: #2C2D32;
  color: white;
  width: 30vw;
  height: 100%;
  border-top: 1px solid gray;
  padding: 0.5rem;
}

.button-style {
  background-color: rgb(80, 159, 186);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
}

.delete-section-button {
  display: inline;
  width: 2rem;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-section-button:hover {
  cursor: pointer;
  color: white;
}

.delete-input-button {
  display: inline;
  width: 2rem;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-input-button:hover {
  cursor: pointer;
  color: #2C2D32;
}

.add-input-button {
  display: flex;
  width: 1rem;
  height: 1rem;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
  border-radius: 5px;
  padding: 0.5rem;
  color: black;
  background-color: white;
  box-shadow: 0 0 10px gray;
}
.add-input-button p {
  font-size: 0.6rem;
  margin: 0 5px;
}
.add-input-button:hover {
  cursor: pointer;
  background-color: #2C2D32;
  color: white;
}

.duplicate-component-button {
  display: inline;
  width: 2rem;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.duplicate-component-button:hover {
  cursor: pointer;
  color: #2C2D32;
}

.isrequired-toggle-button {
  scale: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -2rem;
}
.isrequired-toggle-button p {
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 1rem;
}
.isrequired-toggle-button .toggle-switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  cursor: pointer;
}
.isrequired-toggle-button .toggle-switch input[type=checkbox] {
  display: none;
}
.isrequired-toggle-button .toggle-switch-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #ccc;
  transition: background-color 0.3s ease-in-out;
}
.isrequired-toggle-button .toggle-switch-handle {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
.isrequired-toggle-button .toggle-switch::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -35px;
  font-size: 12px;
  font-weight: bold;
  color: #aaa;
  text-shadow: 1px 1px #fff;
  transition: color 0.3s ease-in-out;
}
.isrequired-toggle-button .toggle-switch input[type=checkbox]:checked + .toggle-switch-handle {
  transform: translateX(45px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #05c46b;
}
.isrequired-toggle-button .toggle-switch input[type=checkbox]:checked + .toggle-switch-background {
  background-color: #05c46b;
  box-shadow: inset 0 0 0 2px #04b360;
}
.isrequired-toggle-button .toggle-switch input[type=checkbox]:checked + .toggle-switch:before {
  content: "On";
  color: #05c46b;
  right: -15px;
}
.isrequired-toggle-button .toggle-switch input[type=checkbox]:checked + .toggle-switch-background .toggle-switch-handle {
  transform: translateX(40px);
}

.more-options-button {
  display: inline;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.more-options-button:hover {
  cursor: pointer;
  color: black;
}

.next-section-button {
  right: 0;
  position: absolute;
}
.next-section-button button {
  --color: #0077ff;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}
.next-section-button button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}
.next-section-button button:hover {
  color: white;
}
.next-section-button button:before {
  top: 100%;
  left: 100%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.next-section-button button:hover::before {
  top: -30px;
  left: -30px;
}

.prev-section-button {
  left: 0;
  position: absolute;
}
.prev-section-button button {
  --color: #0077ff;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}
.prev-section-button button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}
.prev-section-button button:hover {
  color: white;
}
.prev-section-button button:before {
  top: 100%;
  left: 100%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.prev-section-button button:hover::before {
  top: -30px;
  left: -30px;
}

.create-form-button {
  width: 3rem;
  height: 3rem;
  background-color: white;
  color: black;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 20px;
}
.create-form-button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.create-form-button p {
  font-size: 0.6rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.page-container {
  min-height: 100vh;
}

/*# sourceMappingURL=index.css.map */
