@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.navbar-container {
  background-color: #2C2D32;
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: -moz-max-content;
  height: max-content;
  align-content: center;
}
.navbar-container h2 {
  font-weight: bold;
}

.columns-container {
  display: flex;
  padding-top: 3rem;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.left-column-container {
  background-color: #2C2D32;
  color: white;
  width: 30vw;
  height: 100%;
  overflow: hidden;
  border-top: 1px solid gray;
  display: "flex";
  flex-wrap: "wrap";
  justify-content: "space-between";
  margin: "0.5rem 0";
  padding: 10px;
  box-sizing: border-box;
}
.left-column-container h3 {
  font-size: 1rem;
  padding: 0 20px;
  margin: 10px 0;
}

.form-components-container {
  padding: 10px;
  overflow-x: auto;
  overflow-y: auto;
  height: 85%;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.form-components-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  padding: 2px;
}
.form-components-container::-webkit-scrollbar-track {
  background: #2C2D32;
  border-radius: 0 10px 10px 0;
}
.form-components-container::-webkit-scrollbar-thumb {
  background: #2C2D32;
  border-radius: 10px;
  box-shadow: inset 0 0 10px 10px gray;
  border: solid 3px #2C2D32;
}
.form-components-container::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px 10px rgb(102, 102, 102);
}

.component-tree-item {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  margin-left: 15px;
  border-radius: 10px;
  align-items: center;
  border: 2px solid #2C2D32;
  transition: all 0.2s ease-out;
}
.component-tree-item:hover {
  cursor: pointer;
  border: 2px solid gray;
}
.component-tree-item h4 {
  font-size: 0.7rem;
  display: inline;
  margin: auto;
  height: -moz-max-content;
  height: max-content;
  font-weight: lighter;
}
.component-tree-item .delete-section-button {
  scale: 0.8;
}
.component-tree-item .component-tree-item-logo {
  display: flex;
  align-items: center;
}

.add-section-button {
  display: flex;
  flex-wrap: wrap;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  box-sizing: border-box;
  padding: 5px;
  transition: all 0.2s ease-out;
  border-radius: 10px;
}
.add-section-button p {
  font-size: 0.6rem;
  margin: 0 5px;
}
.add-section-button:hover {
  cursor: pointer;
  background-color: gray;
}

.component-tree-section-style {
  margin-bottom: 1.5rem;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #2C2D32;
  position: relative;
  border: 1px solid #2C2D32;
  transition: all 0.2s ease-out;
}
.component-tree-section-style .component-tree-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.component-tree-section-style:hover {
  box-shadow: 0 0 10px gray;
}

.middle-column-container {
  background-color: rgb(217, 217, 217);
  color: black;
  width: 60vw;
  height: 90%;
  border-top: 1px solid gray;
  padding: 1rem 1rem 3rem 1rem;
  position: relative;
  overflow-y: auto;
}

.inputs-container {
  position: fixed;
  z-index: 5;
  color: white;
  background-color: #2C2D32;
  height: 50vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  margin-top: 1rem;
  right: 30vw;
  bottom: 5rem;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.inputs-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  padding: 2px;
}
.inputs-container::-webkit-scrollbar-track {
  background: #2C2D32;
  border-radius: 0 10px 10px 0;
}
.inputs-container::-webkit-scrollbar-thumb {
  background: #2C2D32;
  border-radius: 10px;
  box-shadow: inset 0 0 10px 10px gray;
  border: solid 3px #2C2D32;
}
.inputs-container::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px 10px rgb(102, 102, 102);
}
.inputs-container .input-name-and-logo-container {
  display: flex;
  gap: 5px;
  text-align: center;
  width: 90%;
  padding: 5px;
  height: -moz-max-content;
  height: max-content;
  border: 1px solid #2C2D32;
  align-content: center;
  margin: 5px 0;
  border-radius: 10px;
  transition: all 0.2s ease-out;
}
.inputs-container .input-name-and-logo-container:hover {
  cursor: pointer;
  border: 1px solid gray;
}
.inputs-container .input-name-and-logo-container h4 {
  font-size: 0.7rem;
  display: inline;
  margin: auto;
  height: -moz-max-content;
  height: max-content;
}
.inputs-container h3 {
  font-size: 0.6rem;
  margin: 5px;
  display: inline;
}
.inputs-container .header-and-close-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hide {
  display: none;
  transition: all 0.2s ease-out;
}

.form-component-container {
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid lightgray;
  margin: 10px 0;
}
.form-component-container .drag-component {
  transform: rotate(90deg);
  cursor: move;
  color: rgb(156, 156, 156);
  font-size: smaller;
  scale: 0.8;
  margin: -10px auto;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
}
.form-component-container .drag-component:hover {
  color: black;
}

.section-header {
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.section-name {
  position: relative;
  margin-top: 1rem;
}
.section-name .section-name-input {
  font-size: 1.5rem;
  padding: 5px;
  display: block;
  width: 100%;
  border: none;
  background: transparent;
}
.section-name .section-name-input:focus {
  outline: none;
}
.section-name label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.section-name .section-name-input:focus ~ label,
.section-name .section-name-input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}
.section-name .section-name-bar {
  position: relative;
  display: block;
  width: 200px;
}
.section-name .section-name-bar:before,
.section-name .section-name-bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  left: 5px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.section-name .section-name-bar:before {
  left: 50%;
}
.section-name .section-name-bar:after {
  right: 50%;
}
.section-name .section-name-input:focus ~ .section-name-bar:before,
.section-name .section-name-input:focus ~ .section-name-bar:after {
  width: 100%;
}
.section-name .section-name-highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.section-name .section-name-input:focus ~ .section-name-highlight {
  animation: inputHighlighter 0.3s ease;
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
.short-text-input-container {
  /* styling of Input */
  /* styling of animated border */
  /* Hover on Input */
  /* here is code of animated border */
}
.short-text-input-container .form, .short-text-input-container .checkboxes-container .checkbox-label, .checkboxes-container .short-text-input-container .checkbox-label {
  --width-of-input: 100%;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
  margin: 0.5rem 0;
}
.short-text-input-container .input {
  color: #000000;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  resize: none;
}
.short-text-input-container .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.short-text-input-container .input:hover {
  background: var(--input-hovered-color);
}
.short-text-input-container .input:focus {
  outline: none;
}
.short-text-input-container .input:focus ~ .input-border {
  width: 100%;
}
.short-text-input-container .question {
  font-size: 1rem;
  border-bottom: 1px solid lightgray;
}
.short-text-input-container .answer {
  border-bottom: 1px dotted lightgray;
}
.short-text-input-container .answer .input {
  font-size: 0.9rem;
}

.long-text-input-container {
  /* styling of Input */
  /* styling of animated border */
  /* Hover on Input */
  /* here is code of animated border */
}
.long-text-input-container .form, .long-text-input-container .checkboxes-container .checkbox-label, .checkboxes-container .long-text-input-container .checkbox-label {
  --width-of-input: 100%;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
  margin: 0.5rem 0;
}
.long-text-input-container .input {
  color: #000000;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  resize: none;
}
.long-text-input-container .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.long-text-input-container .input:hover {
  background: var(--input-hovered-color);
}
.long-text-input-container .input:focus {
  outline: none;
}
.long-text-input-container .input:focus ~ .input-border {
  width: 100%;
}
.long-text-input-container .question {
  font-size: 1rem;
  border-bottom: 1px solid lightgray;
}
.long-text-input-container .answer {
  border-bottom: 1px dotted lightgray;
}
.long-text-input-container .answer .input {
  font-size: 0.9rem;
}

.time-input-container {
  /* styling of Input */
  /* styling of animated border */
  /* Hover on Input */
  /* here is code of animated border */
}
.time-input-container .form, .time-input-container .checkboxes-container .checkbox-label, .checkboxes-container .time-input-container .checkbox-label {
  --width-of-input: 100%;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
  margin: 0.5rem 0;
}
.time-input-container .input {
  color: #000000;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  resize: none;
}
.time-input-container .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.time-input-container .input:hover {
  background: var(--input-hovered-color);
}
.time-input-container .input:focus {
  outline: none;
}
.time-input-container .input:focus ~ .input-border {
  width: 100%;
}
.time-input-container .question {
  font-size: 1rem;
  border-bottom: 1px solid lightgray;
}
.time-input-container .answer .input {
  font-size: 0.9rem;
}

.date-input-container {
  /* styling of Input */
  /* styling of animated border */
  /* Hover on Input */
  /* here is code of animated border */
}
.date-input-container .form, .date-input-container .checkboxes-container .checkbox-label, .checkboxes-container .date-input-container .checkbox-label {
  --width-of-input: 100%;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
  margin: 0.5rem 0;
}
.date-input-container .input {
  color: #000000;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  resize: none;
}
.date-input-container .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.date-input-container .input:hover {
  background: var(--input-hovered-color);
}
.date-input-container .input:focus {
  outline: none;
}
.date-input-container .input:focus ~ .input-border {
  width: 100%;
}
.date-input-container .question {
  font-size: 1rem;
  border-bottom: 1px solid lightgray;
}
.date-input-container .answer .input {
  font-size: 0.9rem;
}

.checkbox-input-container {
  /* styling of Input */
}
.checkbox-input-container .form, .checkbox-input-container .checkboxes-container .checkbox-label, .checkboxes-container .checkbox-input-container .checkbox-label {
  --width-of-input: 100%;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
  margin: 0.5rem 0;
  /* styling of animated border */
  /* Hover on Input */
  /* here is code of animated border */
}
.checkbox-input-container .form .input, .checkbox-input-container .checkboxes-container .checkbox-label .input, .checkboxes-container .checkbox-input-container .checkbox-label .input {
  color: #000000;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  resize: none;
}
.checkbox-input-container .form .input-border, .checkbox-input-container .checkboxes-container .checkbox-label .input-border, .checkboxes-container .checkbox-input-container .checkbox-label .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.checkbox-input-container .form .input:hover, .checkbox-input-container .checkboxes-container .checkbox-label .input:hover, .checkboxes-container .checkbox-input-container .checkbox-label .input:hover {
  background: var(--input-hovered-color);
}
.checkbox-input-container .form .input:focus, .checkbox-input-container .checkboxes-container .checkbox-label .input:focus, .checkboxes-container .checkbox-input-container .checkbox-label .input:focus {
  outline: none;
}
.checkbox-input-container .form .input:focus ~ .input-border, .checkbox-input-container .checkboxes-container .checkbox-label .input:focus ~ .input-border, .checkboxes-container .checkbox-input-container .checkbox-label .input:focus ~ .input-border {
  width: 100%;
}
.checkbox-input-container .question {
  font-size: 1rem;
  border-bottom: 1px solid lightgray;
}
.checkbox-input-container .answer {
  border-bottom: 1px dotted lightgray;
}
.checkbox-input-container .answer .input {
  font-size: 0.9rem;
}

.checkboxes-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 0.5rem 0;
}
.checkboxes-container .checkbox-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  scale: 0.8;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
}
.checkboxes-container .checkbox-container .checkbox-icon {
  color: gray;
  font-size: smaller;
}
.checkboxes-container .checkbox-remove-button {
  color: gray;
  font-size: smaller;
  cursor: pointer;
}
.checkboxes-container .checkbox-remove-button:hover {
  color: black;
}
.checkboxes-container .drag-checkbox {
  cursor: grab;
  color: gray;
  font-size: smaller;
  scale: 0.8;
}
.checkboxes-container .drag-checkbox:hover {
  color: black;
}
.checkboxes-container .drag-checkbox:active {
  cursor: grabbing;
}
.checkboxes-container .add-checkbox-button {
  color: gray;
  font-size: smaller;
  padding: 10px;
  margin: 1rem;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0 0 5px lightgray;
}
.checkboxes-container .add-checkbox-button:hover {
  cursor: pointer;
  color: black;
  border-color: black;
}
.more-options-container {
  position: absolute;
  right: 0;
  bottom: 2rem;
  background-color: white;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
  width: -moz-max-content;
  width: max-content;
  font-size: 0.8rem;
}
.more-options-container .more-options-item {
  padding: 0.5rem;
}
.more-options-container .more-options-item:hover {
  color: black;
  background-color: lightgray;
}

.input-options-container {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.right-column-container {
  background-color: #2C2D32;
  color: white;
  width: 30vw;
  height: 100%;
  border-top: 1px solid gray;
  padding: 0.5rem;
}

.button-style {
  background-color: rgb(80, 159, 186);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
}

.delete-section-button {
  display: inline;
  width: 2rem;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-section-button:hover {
  cursor: pointer;
  color: white;
}

.delete-input-button {
  display: inline;
  width: 2rem;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-input-button:hover {
  cursor: pointer;
  color: #2C2D32;
}

.add-input-button {
  display: flex;
  width: 1rem;
  height: 1rem;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
  border-radius: 5px;
  padding: 0.5rem;
  position: fixed;
  right: 30vw;
  bottom: 3rem;
  background-color: gray;
}
.add-input-button p {
  font-size: 0.6rem;
  margin: 0 5px;
}
.add-input-button:hover {
  cursor: pointer;
  background-color: #2C2D32;
  color: white;
}

.duplicate-component-button {
  display: inline;
  width: 2rem;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.duplicate-component-button:hover {
  cursor: pointer;
  color: #2C2D32;
}

.isrequired-toggle-button {
  scale: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -2rem;
}
.isrequired-toggle-button p {
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 1rem;
}
.isrequired-toggle-button .toggle-switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  cursor: pointer;
}
.isrequired-toggle-button .toggle-switch input[type=checkbox] {
  display: none;
}
.isrequired-toggle-button .toggle-switch-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #ccc;
  transition: background-color 0.3s ease-in-out;
}
.isrequired-toggle-button .toggle-switch-handle {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
.isrequired-toggle-button .toggle-switch::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -35px;
  font-size: 12px;
  font-weight: bold;
  color: #aaa;
  text-shadow: 1px 1px #fff;
  transition: color 0.3s ease-in-out;
}
.isrequired-toggle-button .toggle-switch input[type=checkbox]:checked + .toggle-switch-handle {
  transform: translateX(45px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #05c46b;
}
.isrequired-toggle-button .toggle-switch input[type=checkbox]:checked + .toggle-switch-background {
  background-color: #05c46b;
  box-shadow: inset 0 0 0 2px #04b360;
}
.isrequired-toggle-button .toggle-switch input[type=checkbox]:checked + .toggle-switch:before {
  content: "On";
  color: #05c46b;
  right: -15px;
}
.isrequired-toggle-button .toggle-switch input[type=checkbox]:checked + .toggle-switch-background .toggle-switch-handle {
  transform: translateX(40px);
}

.more-options-button {
  display: inline;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.more-options-button:hover {
  cursor: pointer;
  color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.page-container {
  min-height: 100vh;
}/*# sourceMappingURL=index.css.map */