@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');

$theme-color: #2C2D32;
$theme-color-light: #a2a2a2;
$theme-color-dark: #121215;
$theme-color-2: gray;

$accent-color-1-light: #99e2b4;
$accent-color-1-dark: #06d6a0;
$button-background-color: #248277;
$button-background-color-hover: #036666;

$box-dark-shadow: 1px 2px 71px -6px rgba(0, 0, 0, 0.67);
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;

  @import "./scrollbars/home_page_scrollbar";
}


@import "./create_forms/create_forms_navbar";
@import "./form/form_page";
@import "./analytics/analytics_page";
@import "./home/home_page_container";
@import "create_forms/columns-container";
@import "./buttons/button";
@import "signin";
@import "signup";
@import "modals/modals";
@import "loading_page";


.page-container {
  min-height: 100vh;
}

