@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  position: relative;
}


$theme-color: #2C2D32;
$theme-color-2: gray;
$button-background-color: rgb(80, 159, 186);

@import "./create_forms/navbar";
@import "./form/form_page";
@import "./home/home_page_container";
@import "create_forms/columns-container";
@import "./buttons/button";
@import "signin";
@import "signup";
@import "modals/modals";


.page-container {
  min-height: 100vh;
}

