.component-tree-section-style {
  margin-bottom: 1.5rem;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: $theme-color;
  position: relative;
  border: 1px solid $theme-color;
  transition: all 0.2s ease-out;

  .component-tree-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.9rem;
    margin-bottom: 5px;
  }

  &:hover {
    box-shadow: 0 0 10px $theme-color-2;
  }
}
