.component-tree-section-style {
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: $theme-color;
  position: relative;
  border: 1px solid #474747;
  transition: all 0.2s ease-out;
  cursor: pointer;

  .drag-component {
    transform: rotate(90deg);
    cursor: move;
    color: rgb(156, 156, 156);
    font-size: smaller;
    scale: 0.6;
    margin: -10px auto 0 auto;


    width: fit-content;
    height: fit-content;
    border-radius: 10px;
  }

  .drag-component:hover {
    color: white;
  }


  .component-tree-section-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 0.9rem;
    margin-bottom: 5px;
    margin-left: 5px;

    font-weight: bold;
  }


  &:hover {
    box-shadow: 0 0 10px $theme-color-2;
  }
}
