.component-tree-item {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  margin-left: 15px;
  border-radius: 10px;
  align-items: center;
  border: 1px solid $theme-color;
  transition: all 0.2s ease-out;


  h4 {
    font-size: 0.7rem;

    display: inline;
    margin: auto;
    height: max-content;
    font-weight: lighter;
  }

  .delete-section-button {
    scale: 0.8;
  }

  .component-tree-item-logo {
    display: flex;
    align-items: center;
  }
}
