.left-column-container {
  background-color: $theme-color;
  color: white;
  width: 30vw;
  height: 100%;
  overflow: hidden;
  border-top: 1px solid $theme-color-2;
  display: "flex";
  flex-wrap: "wrap";
  justify-content: "space-between";
  margin: "0.5rem 0";
  text-align: center;
  padding: 10px;
  box-sizing: border-box;

  h3 {
    margin: auto;
    font-size: 1.2rem;
  }
}

.form-components-container {
  margin: 10px;
  overflow-x: auto;
  overflow-y: auto;
  height: 85%;
  @import "../../scrollbars/scrollbar_style.scss";
  padding: 5px;
}

@import "component_tree_item";
@import "add_section_button";
@import "section_styles";
