
.section-style{
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px 0;
    
    gap: 5px;
    padding: 5px;
    
    
    span{
      font-size: small;
    }
  }
  
  .section-components{
    align-items: center;
  }
  