.component-tree-section-style {
  margin: 1rem 0;
  border-bottom: 1px solid $theme-color-2;
  border: 1px solid $theme-color-2;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: $theme-color;
  position: relative;

  .component-tree-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .section-name {
    margin: 10px 0;
  }
}
