.add-input-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  position: relative;


  .inputs-container {
    position: absolute;
    z-index: 10000;
    color: black;
    background-color: white;
    height: 50vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    padding: 10px;
    border-radius: 10px;
    left: 2rem;
    top: 0;


    box-shadow: 0 0 10px $theme-color-2;
    @import "../../scrollbars/scrollbar_style.scss";

    .input-name-and-logo-container {
      display: flex;
      gap: 5px;
      text-align: center;
      padding: 5px;
      height: max-content;
      border: 1px solid white;

      align-content: center;
      margin: 5px 0;
      border-radius: 10px;
      transition: all 0.2s ease-out;

      &:hover {
        cursor: pointer;
        border-color: $theme-color-2;
      }

      h4 {
        font-size: 0.7rem;
        display: inline;
        margin: auto;
        height: max-content;
      }
    }

    h3 {
      font-size: 0.6rem;
      margin: 5px;
      display: inline;
    }

    .header-and-close-input-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .hide {
    display: none;

  }

}


