.middle-column-container {
  background-color: rgb(217, 217, 217);
  color: black;
  width: 60vw;
  height: 90%;
  border-top: 1px solid $theme-color-2;
  padding: 1rem 1rem 3rem 1rem;
  overflow-y: auto;
  @import "../../scrollbars/scrollbar_style.scss";
}

@import "./form_components_styles/form_component_container";
@import "./input_options_container";
