.middle-column-container {
  background-color: $theme-color-dark;
  color: black;
  min-height: 100%;;
  width: 60vw;
  padding: 1rem 1rem 7rem 1rem;
  overflow-y: auto;
  box-sizing: border-box;
  @import "../../scrollbars/scrollbar_style.scss";
}

@import "./form_components_styles/form_component_container";
@import "./input_options_container";
