.middle-column-container {
  background-color: whiter;
  color: black;
  width: 60vw;
  height: 100%;
  border-top: 1px solid $theme-color-2;
  padding: 0.5rem;
  position: relative;
  overflow-y: auto;

  .form-item {
    margin: 10px 5px;
    border: 1px $theme-color-2 solid;
    padding: 10px;
    border-radius: 10px;

    h3 {
      margin: 5px 0;
    }
  }
}
@import "add-input-button";
