.home-page-right-container {
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;
  @import "../scrollbars/home_page_scrollbar";

  .search-and-sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      display: inline;
    }

    @import "search_bar";

    @import "sort_button";

    .theme-toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      cursor: pointer;


      p {
        font-size: 0.8rem;
        color: $theme-color-lightest;
      }

      .theme-toggle-btn {
        width: 20px;
        height: 20px;
        border-radius: 50%;

        &.theme-light {
          background-color: aliceblue;
        }

        &.theme-dark {
          background-color: gray;
        }

      }
    }


  }

  .form-cards-container {
    padding: 1rem 0;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    gap: 20px;


    @import "form_card";

  }

}