.columns-container {
  display: flex;

  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;

}

@import "left_column/left_column";
@import "middle_column/middle_column";
@import "right_column/right_column";


.create-forms-page-container {
  height: 100vh;
  overflow: hidden;
}