.middle-column-container {
  background-color: whiter;
  color: black;
  width: 60vw;
  height: 100%;
  border-top: 1px solid gray;
  padding: 0.5rem;
  position: relative;
  z-index: -2; /* Decrease the z-index to be behind inputs-container */
}