
.navbar-container {
  background-color: $theme-color;
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: max-content;
  align-content: center;
  


  h2 {
    font-weight: bold;
  }
}

